body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

figure{
  text-align: center;
  margin: 10px;
}

nav a {
  background:gray;
  padding: 0px 10px 0px 10px;
}

img{
  margin:auto;
  display: block;
}
figcaption{
  font-size: 8px;
}

#featured-property{
  width: 919px;
  text-align: center;
  margin: auto;
}

#details div{
  float: left;
  width: 25%;
  background: yellow;
}